{% extends "szablon.html" %}
{% block tytul_strony %}Edycja ucznia{% endblock %}
{% block h1 %}Edytuj ucznia{% endblock %}
{% block lead %}Edytuj wybranego ucznia i zatwierdź zmiany:{% endblock %}
{% block tresc%}

<div class="container">
    <form method="POST">
    {{ form.csrf_token }}
    {{ form.imie.label }}
    {{ form.imie(class="form-control") }}
    <br>
    {{ form.nazwisko.label }}
    {{ form.nazwisko(class="form-control") }}
    <br>
    {{ form.plec.label }}
    {{ form.plec(class="form-control") }}
    <br>
    {{ form.klasa.label }}
    {{ form.klasa(class="form-control") }}

    <input type="submit" class="btn btn-success" value="Edytuj" style="float: right;">
    </form>
</div>

{% endblock %}
