{% extends "szablon.html" %}
{% block tytul_strony %} Lista klas {% endblock %}
{% block h1 %} Lista klas {% endblock %}
{% block lead %} Tutaj możesz przeglądać i edytować istniejące klasy: {% endblock %}
{% block tresc%}

<ol>
    {% for k in klasy %}
        <li>
            Nazwa klasy: {{ k.nazwa }}<br>
            Rok naboru: {{ k.rok_naboru }} <br>
            Rok matury: {{ k.rok_matury }}  <br>
            
            <a href="{{ url_for('usun_klase', k_id=k.id) }}">
              <button class="btn btn-danger">Usuń</button>
            </a>
            <a href="{{ url_for('edytuj_klase', k_id=k.id) }}">
              <button class="btn btn-success">Edytuj</button>
            </a>
           
        </li>
    {% endfor %}
</ol>

{% endblock %}
